body{
    background-color: #ECEEF1;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/*---------------- LOGO -----------------------------*/
.logo{
    height: 120px;
    margin-bottom: 20px;
}
/*---------------------------------------------------*/

/*----------------- Labels --------------------------*/
label {
    color: #575555;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

/*=--------------------------------------------------*/
/*----------------- Form ----------------------------*/
form{
    background-color:white;  
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #dad7d7;  
}
.form-field {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
}

.form-subtitle {
    text-align: center;
    color: #575555;
    font-size: 13px;
    margin-bottom: 1px;
}

form a {
    text-align: center;
    text-decoration: none;
    font-size: 10x;
    margin-bottom: 10px;
    color: #a9b9d8;
}

.form-title {
    text-align: center;
    font-size: 23px;
    color: #575555;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    height: 30px;
    margin-top: 10px;
    border-color: #dad7d7;
    border-width: 1px;
    border-radius: 2px;
}

