body{
    background-color: #ECEEF1;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/*---------------- LOGO -----------------------------*/
.logo{
    height: 120px;
    margin-bottom: 20px;
}
/*---------------------------------------------------*/

/*----------------- Labels --------------------------*/
label {
    color: #575555;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

/*=--------------------------------------------------*/
/*----------------- Form ----------------------------*/
form{
    background-color:white;  
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #dad7d7;  
}
.form-field {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
}

.form-subtitle {
    text-align: center;
    color: #575555;
    font-size: 13px;
    margin-bottom: 1px;
}

form a {
    text-align: center;
    text-decoration: none;
    font-size: 10x;
    margin-bottom: 10px;
    color: #98a9cc;
}

.form-title {
    text-align: center;
    font-size: 23px;
    color: #575555;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    height: 30px;
    margin-top: 10px;
    border-color: #dad7d7;
    border-width: 1px;
    border-radius: 2px;
}

.terms {
    text-align: center;
    font-size: 12px;
    color: #575555;
    font-style: italic;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.captcha {
    background-color: transparent;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #575555;
    border-width: 0px 1px 1px 1px;
    font-size: 10px;
    text-align: center;
    padding-top : 15px;
    padding-bottom: 15px;
    border-radius: 2px;
}

/*--------------------------------------------------------*/
/*---------------------- Buttons  -------------------------*/
.btn-create {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: #956cce;
    border-radius: 2px;
    font-size: 15px;
}

.lock {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
